<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.spring.springboot.mapper.master.UserMapper">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="UserResultMap" type="learn.spring.springboot.domain.User">
        <id property="id" column="id" />
        <result property="userId" column="userId" />
        <result property="score" column="score" />
    </resultMap>

    <select id="findUserById" resultMap="UserResultMap">
        SELECT * FROM User WHERE userId= #{userId}
    </select>

</mapper>